@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
}

header{background-color: #FFFFFF;}
.info-btn:hover{background-color: transparent !important}



@media (min-width: 847px) {

header{
    box-shadow: 8px 13px 44px -6px #DFDBF7;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 200px;
    top: 0;
}
   
.activa-tu-cuenta-content{
    margin-left: 200px;
}
    .img-container{
        margin: 10% 10%;
    }
    
    .img-container img{
        width: 100%;
    }
    
    #logoNava{
        width: 150px;
    }
    .user-nombre{
        font-family: 'Mulish', sans-serif;
        color: #000000;
        font-weight: 600;
        font-size:1.625em;
    }
    
    .user-accion{
        font-family: 'Mulish', sans-serif;
        color: #000000;
        font-weight: 600;
        font-size:1em;  
    }
    
    .saludo-user{
        margin: 50% 10% 0 10%;
        
    }
    
    
    .cuentas{
        margin-top: 20%;
    }
    
    
    .nav-rectangulo{
        
        margin: 0 3% 20px 3%;
        display: flex;
        padding: 10px 0;
        border-radius: 6px;
        cursor: pointer;
        
    }
    
    .nav-rectangulo p{
        line-height: 31px;
        margin-left: 7%;
        font-family: 'Mulish';
        margin-bottom: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 18PX;
        
    }
    
    .mark{
        width: 4%;
        height: 31px;
        margin-top: auto;
        margin-bottom: auto;
        
        border-radius: 0px 5px 5px 0px;
    
    }
    
    .gold-rec{
        background: rgba(196, 166, 85, 0.25);;
    }
    
    .black-rec{
        
        background: rgba(173, 173, 173, 0.2);
    }
    
    .platinum-rec{
        background:rgba(161, 168, 206, 0.25);
    }
    .gold{
        background-color: rgba(196, 166, 85, 1);
    }
    
    .black{
        background: #020018;
    }
    .platinum{
        background: #A1A8CE;
    }
    
    .gold-txt{
        color: rgba(196, 166, 85, 1);
    }
    
    .platinum-txt{
        color: #A1A8CE;
    }
    
    .black-txt{
        color: #020018;
    }
    
    
    .salir-whrap{
       
        margin: 40% 15% 0 15%;
    }
    
    .salir{
       display: flex;
       text-decoration: none;
    }
    
    .salir p{
        line-height: 18px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        color: #FFFFFF;
        margin-left: 15px;
    }
    

/***/


/*content*/

.whrap-gold{
    border: 3px solid #C4A655;
    box-shadow: 8px 13px 44px -6px #DFDBF7;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 2% 7%;
    font-family: 'Mulish', sans-serif;

}


.whrap-platinum{
    border: 3px solid #A1A8CE;
    box-shadow: 8px 13px 44px -6px #DFDBF7;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 2% 7%;
    font-family: 'Mulish', sans-serif;

}


.whrap-black{
    border: 3px solid #020119;
    box-shadow: 8px 13px 44px -6px #DFDBF7;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 2% 7%;
    font-family: 'Mulish', sans-serif;

}

.whrap h3{
    font-size: 1.4375em;
    width: 85%;
}

.whrap-black p{
    font-size: 1.125em;
    padding-right: 50px;
}

.usdt{
    font-size: 1.4375em;
}

.txt-pequeÃ±o{
    font-size: 0.875em;
}

.stamp{
  position: absolute;
  right: 80px;
       
}

.guide-link{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25em;
    display: inline-flex;
    float: right;
    justify-content: end;
    margin: 0.625em 0.625em 0 0;
    text-decoration: none;
}

.disclamer-txt{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 3% 5% 0 5%;
}

.enfasis{
    text-decoration: underline;
    font-weight: 500;
}

.info-btn{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #02001880;
    cursor: pointer;
    margin: 0 0 0 5%;
}
.info-btn:hover{
    
    color: #333 !important;
    
}


.info-adicional{
    position: absolute;
   
    background-color: white;
    width: 350px;
    top: 42%;
    left: 40%;
    border: solid 2px #02001880;
    border-radius: 20px;
    box-shadow: 8px 13px 44px -6px #DFDBF7;
    font-family: 'mulish';
}

.logo-info{
    height: 20px;
}

.info-header{
  
   
    border-radius: 20px 20px 0 0;
    padding: 20px 0 10px 10px;
   display: flex;
   justify-content: space-between;
    
}

.svg{
    line-height: 20px;
    margin-right: 15px;
    padding: 5px 5px 2px 6px;
    border-radius: 5px;
    cursor: pointer;
    max-height: 30px;
}

.svg:hover{
    background-color: rgb(242, 37, 37);
}

.info-whrap{
    padding: 10px;
}


.noShow{
    display: none;
}

.logo-mobile{
    display: none;
}


.toggle{
    display: none;
}


.whrap-gold p{
    
    font-size: 1.125em;
}

.whrap-platinum p{
    
    font-size: 1.125em;
}

.whrap-black p{
    
    font-size: 1.125em;
}
}


/*****************************************/


@media (max-width: 847px) {
    header{
        box-shadow: 13px 8px 44px -6px #DFDBF7;
    
       position: absolute;
       top:0;
       width: 100%;
       height: 70px;
        
    }

    .user-nav{
        
        height:100%;
        position: absolute;
        width: 100%;
        text-align: center;
     
        
    }
   
    .img-container{
        width: 100%;
        z-index: 2;
    }

    .img-container img{
        height: 40px;
    }

    .logo{
        display:none;
    }

    .nav-mobile{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 50px;
        display: absolute;
        top: 0;
        
    }

    .toggle{
        line-height: 40px;
    }

    .toggle img{
        width: 30px;
    }


    .user-accion{
        font-family: 'Mulish', sans-serif;
        color: #FFFF;
        font-weight: 600;
        font-size:1em;  
    }
    
    .saludo-user{
        margin: 50px 10% 0 50px;
        
    }
    
    
    .cuentas{
        margin-top: 20%;
    }
    

    .activa-tu-cuenta-content{
        margin-top: 100px;
    }
    
    .nav-rectangulo{
        
        margin: 0 3% 20px 3%;
        display: flex;
        padding: 10px 0;
        border-radius: 6px;
        cursor: pointer;
        
    }
    
    .nav-rectangulo p{
        line-height: 31px;
        margin-left: 7%;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 700;
        font-size: 18PX;
        
    }

    .user-nombre{
        font-family: 'Mulish', sans-serif;
        color: #FFFF;
        font-weight: 600;
        font-size:1.625em;
    }
    
    .user-accion{
        font-family: 'Mulish', sans-serif;
        color: #FFFF;
        font-weight: 600;
        font-size:1em;  
    }


    
    .mark{
        width: 4%;
        height: 31px;
        margin-top: auto;
        margin-bottom: auto;
        max-width: 10px;
        border-radius: 0px 5px 5px 0px;

    }

    .gold-rec{
        background: rgba(196, 166, 85, 0.25);;
    }

    .black-rec{
        
        background: rgba(138, 138, 138, 0.2);
    }

    .platinum-rec{
        background:rgba(161, 168, 206, 0.25);
    }
    .gold{
        background-color: rgba(196, 166, 85, 1);
    }

    .black{
        background: #020018;
    }
    .platinum{
        background: #A1A8CE;
    }

    .gold-txt{
        color: rgba(196, 166, 85, 1);
        margin: 0;
    }

    .platinum-txt{
        color: #A1A8CE;
        margin: 0;
    }

    .black-txt{
        color: #020018;
        margin: 0;
    }


    .salir-whrap{
    
        text-align: center;
        
        margin: 40px 0 0 40px;
        
    }

    .salir{
    display: flex;
    text-decoration: none;
    margin: 0 auto;
    }

    .salir p{
        line-height: 18px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        color: #FFFFFF;
        margin-left: 15px;
        text-align: center;
    }


        .nav_Novisible{
            display: none;
        }

        .user-nav{
        
            height: 100vh;
            background-color: #333;
            position: absolute;
            top:69px;
            z-index: 4;
            
        }



        .whrap-gold{
            border: 3px solid #C4A655;
            box-shadow: 8px 13px 44px -6px #DFDBF7;
            border-radius: 20px;
            background-color: #FFFFFF;
            padding: 2% 7%;
            font-family: 'Mulish', sans-serif;
            text-align: justify;
        }


        
        .whrap-platinum{
            border: 3px solid #A1A8CE;
            box-shadow: 8px 13px 44px -6px #DFDBF7;
            border-radius: 20px;
            background-color: #FFFFFF;
            padding: 2% 7%;
            font-family: 'Mulish', sans-serif;
            text-align: justify;
        }
        
        
        .whrap-black{
            border: 3px solid #020119;
            box-shadow: 8px 13px 44px -6px #DFDBF7;
            border-radius: 20px;
            background-color: #FFFFFF;
            padding: 2% 7%;
            font-family: 'Mulish', sans-serif;
            text-align: justify;
        
        }


        .bloque{
            margin: 5% 5% 0 5%;
        }
        
        

        .whrap h3{
            font-size: 1.4375em;
        }
        
        .whrap-black p{
            font-size: 1.125em;
            
            
        }

        .whrap-gold p{
            font-size: 1.125em;
            
        }

        .whrap-platinum p{
            font-size: 1.125em;
            
        }
        
        .usdt{
            font-size: 1.4375em;
        }
        
        .txt-pequeÃ±o{
            font-size: 0.875em;
        }
        
        .whrap-stamp{
            text-align: center;
        }



        
        .guide-link{
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 500;
            font-size: 1.25em;
            display: inline-flex;
            float: right;
            justify-content: end;
            margin: 0.625em 0.625em 0 0;
            text-decoration: none;
        }
        
        .disclamer-txt{
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            margin: 10% 5% 5% 5%;
        }
        


         
        .enfasis{
            text-decoration: underline;
            font-weight: 500;
        }
        .info-btn{
            border: none;
            background-color: transparent;
            text-decoration: underline;
            color: #02001880;
            cursor: pointer;
            margin: 5% 0 0 5%;
        }


        .info-adicional{
            position: absolute;
           
            background-color: white;
           
            left: 7%;
            right: 7%;
            top: 130%;
            border: solid 2px #02001880;
            border-radius: 20px;
            box-shadow: 8px 13px 44px -6px #DFDBF7;
            font-family: 'mulish';
        }

         
        .logo-info{
            height: 20px;
        }

        .info-header{
          
           
            border-radius: 20px 20px 0 0;
            padding: 20px 0 10px 10px;
           display: flex;
           justify-content: space-between;
            
        }

        .svg{
            line-height: 20px;
            margin-right: 15px;
            padding: 5px 5px 2px 6px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .svg:hover{
            background-color: rgb(242, 37, 37);
        }

        
        .info-whrap{
            padding: 10px;
        }


         
        .noShow{
            display: none;
        }


        
       
    }